.main {
  position: relative;
  padding: 38px 0 0;
  background: url("../images/text_logo.png");
  background-repeat: no-repeat;
  background-position: center 22px;
}

@media (min-width: @tablet) {
  .main {
    padding: 0 31px 41px 23px;
    background: none;
  }
}

.main__logo {
  position: absolute;
  top: 16px;
  left: 19px;
}
